<div *ngIf="orders.length > 0; else noProducts">
    <!-- <ul>
        <li *ngFor="let product of products">
            <h3>{{ product.name }} - ${{ product.price }}</h3>
            <p>{{ product.description }}</p>
        </li>
    </ul> -->


    <div class="row">
        <div class="col-xs-12">
            <app-order-item *ngFor="let order of orders" [order]="order" (ordersChange)="reload()"></app-order-item>
        </div>
    </div>

</div>


<ng-template #noProducts>
    <p>No Orders</p>
</ng-template>